*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 0;

  background: #3b82f6;
  color: white;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{

    background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}
header .container{
    color: white;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
   grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding: 30px;
    row-gap: 30px;
    column-gap: 20px;
}
.card{

    background: linear-gradient(135deg,#89f7fe,#66a6ff);
    overflow: hidden;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgb(36, 44, 44);
    transition: 0.6s;
    color: beige;
}
.card:hover{
    transform: scale(1.05);
}
.img-con{
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.malumot{
    padding: 5px 0px;
}
.nom{
    margin: 0;
    font-size: 24px;
    padding: 10px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.davlati{
    margin: 0;

}
.jamoa{
    margin: 0;
}
.goal{
    margin: 0;
    font-size: 20px;
   padding: 6px 20px;
   border-radius: 12px;

   background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border:1px solid rgba(255,255,255,0.3);
  box-shadow:0 8px 32px rgba(0,0,0,0.2);

}
input{
    padding: 8px 16px;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}
select{
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
}
select:focus{
    border: 2px solid cyan;
}
@media(max-width:910px){
header .container{
    flex-direction: column;
    gap: 10px;
}
#tartib{
   display: flex;
   justify-content: space-between;
}
}